@charset "UTF-8";

.view,
body,
html {
    height: 100%
}

p {
    margin: 0;
}

.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/* img {
    max-width: 100%;
} */

/* bootstrap */
.text-center {
    text-align: center !important;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.navbar-brand {
    display: inline-block;
    padding-top: .3125rem;
    padding-bottom: .3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-expand-lg .navbar-nav {
    -ms-flex-direction: row;
    flex-direction: row;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255, 255, 255, .5);
}

.navbar-expand-lg .navbar-collapse {
    display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

.navbar {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: .5rem 1rem;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
    display: block;
}

.ml-auto,
.mx-auto {
    margin-left: auto !important;
}

.mr-auto,
.mx-auto {
    margin-right: auto !important;
}

.d-flex {
    display: flex !important;
}

/* end bootstrap */
body {
    font-family: 'Sawarabi Gothic', sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
}


.mb50 {
    margin-bottom: 50px !important;
}

.mt50 {
    margin-top: 50px !important;
}

.header {
    background: rgba(0, 0, 0, .6901960784313725)
}

.ohidden {
    overflow: hidden
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;

}

.sp {
    display: none;
}

.header_contact {
    border-radius: 47px;
    background: #fff;
    display: block;
    height: 25px;
    line-height: 25px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    position: absolute;
    right: 15px;
    /* top: -webkit-calc(50% - 12px);
    top: calc(50% - 12px) */
}

/* ---header--- */
.navbar.scrolling-navbar .navbar-nav>li {
    position: relative;
}

.navbar.scrolling-navbar .navbar-nav>li>ul {
    overflow: hidden;
    max-height: 0;
    position: absolute;
    background: rgba(0, 0, 0, .81);
    transition: .5s ease;
    width: 100%;
    padding: 0;
    list-style: none;
}

.navbar.scrolling-navbar .navbar-nav>li>ul>li>a {
    padding: 15px;
    display: block;
    color: #fff;
    border-left: 4px solid transparent;
    font-size: 15px;
}

.navbar.navbar-dark .navbar-nav .nav-item.active>.nav-link,
.navbar.navbar-dark .navbar-nav .nav-item:hover>.nav-link {
    border-bottom: 2px solid #ccc;
    color: #fff;
}

/* ---top heading ----*/


.tt_watabe {
    font-size: 100px;
    font-weight: 600;
}

.subtt_watabe {
    font-size: 50px;
    font-weight: 600;
    display: block;
}

.banner {
    padding: 50px 0;
}

.col-title h2.title {
    font-size: 41px;
    margin-bottom: 40px;
    position: relative;
    display: inline-block;
    padding-left: 100px;
    line-height: 1;
}

.col-title h2.title span {
    font-size: 30px;
}

.col-title h2.title::before {
    /* content: "01";
    font-size: 85px;
    background: -webkit-linear-gradient(#eee, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    padding-right: 20px;
}

.col-title h2.title01::before {
    /* content: url(../img/01.png); */
    content: "";
    background-image: url(../img/01.png);
    background-repeat: no-repeat;
    background-size: 80px 66px;
    width: 80px;
    height: 66px;
    position: absolute;
    left: 0;
    bottom: 0;

}

.col-title h2.title02::before {
    /* content: url(../img/02.png); */
    content: "";
    background-image: url(../img/02.png);
    background-repeat: no-repeat;
    background-size: 80px 66px;
    width: 100%;
    height: 66px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.col-title h2.title03::before {
    /* content: url(../img/03.png); */
    content: "";
    background-image: url(../img/03.png);
    background-repeat: no-repeat;
    background-size: 80px 66px;
    width: 80px;
    height: 66px;
    position: absolute;
    left: 0;
    bottom: 0;

}

.col-title h2.title04::before {
    /* content: url(../img/04.png); */
    content: "";
    background-image: url(../img/04.png);
    background-repeat: no-repeat;
    background-size: 80px 66px;
    width: 80px;
    height: 66px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.col-title h2.title05::before {
    /* content: url(../img/05.png); */
    content: "";
    background-image: url(../img/05.png);
    background-repeat: no-repeat;
    background-size: 80px 66px;
    width: 80px;
    height: 66px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.col-title h2.title06::before {
    /* content: url(../img/06.png); */
    content: "";
    background-image: url(../img/06.png);
    background-repeat: no-repeat;
    background-size: 80px 66px;
    width: 80px;
    height: 66px;
    position: absolute;
    left: 0;
    bottom: 0;
}

/* about-watabe-wedding */
#about-watabe-wedding {}

.div-about {
    display: flex;
    /* display: none; */
}
.img-about{
width: 50%;
}
.text-about{
width: 50%;
}

.row-reverse {
    flex-direction: row-reverse;
}

.inner_watabe {
    padding: 40px;
}


.img-1 {
    background-image: url(../img/img-1.jpg);
    
}

.img-2 {
    background-image: url(../img/img-2.jpg);
    
}

.img-3 {
    background-image: url(../img/img-3.jpg);
    
}
.img-about{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* .img-1,
.img-2,
.img-3 {
    width: 100%;
} */
.img-about img{
    opacity: 0;
}
.title-section h2 {
    font-size: 24px;
    font-weight: 700;
}

@media screen and (max-width: 768px) {
    #about-watabe-wedding .heading h2.title {
        font-size: 24px;
    }

    .col-title h2.title::before {
        background-size: 45px 33px;
        height: 33px;
        width: 45px;
    }

    .col-title h2.title {
        font-size: 22px;
        padding-left: 53px;
        margin-bottom: 20px;

    }

    .col-title h2.title span {
        font-size: 17px;
    }

    .inner_watabe {
        padding: 20px;
    }
    .text-about,
    .img-1,
    .img-2,
    .img-3 {
        width: 100%;
    }
}

/* --- business---*/

.business_item .icon_text {
    /* background-color: #000;
    color: white;
    width: 305px;
    height: 58px;
    text-align: center; */
}

.business_item .icon_text .icon_business {
    background: #000;
    padding: 10px;
    margin-right: 1px;
}

.business_item .img_row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.business_item .img_row .img {
    display: inline;
}

.business_item {
    text-align: center;
}

.business_item:not(:last-child) {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
    margin-bottom: 40px;
}

.business_item .icon_text {
    display: flex;
    justify-content: center;
}

.icon_business img {
    width: 42px;
    height: 37px;
}

.business_item .icon_text .business_title {
    width: 230px;
    height: 58px;
    background-color: #000;
    /* display: flex; */
    /* align-items: center; */
    color: white;
}

.business_title p {
    line-height: 4.2em;
}

.business_des {
    font-weight: 500;
    margin-bottom: 40px;
    margin-top: 35px;
}

.detail_button {
    background: url(../img/img-23.png) no-repeat top center;
    width: 100%;
    font-size: 17px;
    font-weight: bold;
    margin-top: 40px;
    padding: 15px;
}

.detail_button a {
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 768px) {
    .business_des {
        margin-bottom: 20px;
        margin-top: 15px;
    }

    .img_row {
        justify-content: center !important;
    }

    .img_row .img {
        margin-bottom: 10px;
    }
}


/* company profile */
.company-profile {
    background: url(../img/img-14.jpg) no-repeat;
    padding-bottom: 30px;
    padding-top: 30px;
    background-size: cover;
}

.company-profile-table table {
    background-color: #ffffffa3;
    border-collapse: collapse;
}

.company-profile-table table {
    border: none;
}

.company-profile-table table td {
    border: 1px solid #fff;
    padding: 10px 30px 10px 70px;
}

.col_table_cp {
    display: flex;
}

.col_table_cp_1 {
    padding-right: 45px;
}

.company-profile-table table td span {
    position: relative;
    display: block;
    padding: 5px 23px 5px;
}

.company-profile-table table td span::before {
    position: absolute;
    content: "";
    background-image: url(../img/icon-6.png);
    width: 14px;
    height: 14px;
    left: 0;
    padding: 11px;
    background-repeat: no-repeat;
    background-position: center
}

@media screen and (max-width: 768px) {

    .company-profile-table table td {
        padding: 5px;
    }
}


/* -- top message -- */
.message .message_img {
    margin-right: 1px;
}

.message .message_text {
    background-color: #faefdd;
}

.message .message_text p {
    padding: 60px 30px 1px 50px;
}

.message {
    display: flex;
    padding-right: 50px;
}

.message_img_sign {
    width: 271px;
    text-align: center;
    margin-top: 10px;
}

@media screen and (max-width: 768px) {
    .message {
        display: block;
        padding-right: 0px;
    }

    .message_img {
        text-align: center;

    }

    .message_img img {
        width: unset;
    }

    .message .message_text p {
        padding: 20px;
    }

    .message_img_sign {
        width: 100%;
        margin-bottom: 20px;
    }

    .message_img_sign img {
        width: unset;
    }
}

/* --corporate hictory-- */
#corporate-history {
    margin-bottom: 150px;
}

.corp_item:not(last-child) {
    margin-bottom: 30px;
}


.corporate_history {
    background-image: url(../img/img0/mile-border.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    position: relative;
}

.corporate_history::before {
    content: "創業";
    position: absolute;
    top: -37px;
    left: -15px;
    color: #b6a472;
    font-size: 20px;
}

.corporate_history .y1953::before {
    content: "";
    background-image: url(../img/img0/1953s.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -25px;
    width: 61px;
    height: 61px;

}

.corporate_history .y1970s::before {
    content: "";
    background-image: url(../img/img0/1970s.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -25px;
    width: 61px;
    height: 61px;

}

.corporate_history .y1990s::before {
    content: "";
    background-image: url(../img/img0/1990s.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -25px;
    width: 61px;
    height: 61px;

}

.corporate_history .after_y2000::before {
    content: "";
    background-image: url(../img/img0/after2000.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    left: -25px;
    width: 61px;
    height: 61px;

}

.corporate_history .corp_item {
    padding-left: 40px;
    position: relative;

}

.corporate_history .corp_item .corp_content {
    width: 50%;
}

.corporate_history .corp_item .corp_content .title {
    background-image: url(../img/img0/underline.png);
    background-repeat: no-repeat;
    background-position: left bottom;
    padding-bottom: 10px;
}

.corporate_history .corp_item .corp_content .corp_content_text {
    margin-top: 15px;
}

.corporate_history .corp_item {
    display: flex;
    justify-content: space-around;
}

.corporate_history .corp_item .corp_img {
    width: 42%;
    display: flex;
    justify-content: space-between;
}

.corporate_history .corp_item .milestone {
    width: 10%;
    background: url(../img/milestone.png) no-repeat;
}

.corporate_history .corp_item .milestone span {
    padding: 20px;
    margin-top: 30px;
}

.corp_content .title h3 {
    font-size: 14px;
    font-weight: bold;
}

.more_detail {
    width: 250px;
    height: auto;
    border: 1px solid #c00000;
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    color: #c00000;
    font-weight: bold;
    float: right;
}

@media screen and (max-width: 768px) {
    .corporate_history .corp_item {
        display: block;
    }

    .corporate_history .corp_item .corp_img {
        width: 100%;
        display: inline-block;
        text-align: center;
        margin-bottom: 20px;
    }

    .corporate_history .corp_item .corp_content {
        width: 100%;
        text-align: center;
    }

    .corporate_history .corp_item .corp_content .title {
        display: inline-block;
    }

    .corporate_history .corp_item::before {
        top: 0;
        left: -22px;
    }

    /*.corporate_history::before {
        top: -37px;
        left: 12px;
    } */
    #corporate-history {
        margin-bottom: 150px;
        padding-left: 20px;
    }
}

/* network */
#network .network img {
    max-width: 100%;
}

/* -- footer -- */
.page-footer {
    background-color: #000;
}



/* for all */
@media screen and (max-width: 768px) {
    body {
        min-width: 100%;
        font-size: 14px;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block !important;
    }

    .container {
        width: 100% !important;
        padding-left: 10px;
        padding-right: 10px;
        box-sizing: border-box;
    }

    img {
        max-width: 100%;
    }

    .div-about {
        display: flex;
        flex-wrap: wrap;
    }

}

/* page-heading */

@media screen and (max-width: 768px) {
    #page-heading h1.tt_watabe {
        font-size: 40px;
    }

    #page-heading span.subtt_watabe {
        font-size: 16px;
    }
}